html
  height: 100%

body.chat
  background: url('/assets/images/background.jpg')
  background-size: 50%

  .header
    align-items: center
    height: 45px
    display: flex

  .header > *
    margin-left: 5px
    margin-right: 5px

  .avatar
    height: 36px
    width: 36px
    border-radius: 100%

  .title
    flex-grow: 1
    margin-left: 7px

  .hamburguer
    cursor: pointer
    outline: 0

  .hamburguer:focus > .menu
    display: block
  // cualquier elemento de clase menu dentro de hamburguer

  .menu
    display: none
    color: black
    background-color: white
    border-radius: 5px
    list-style-type: none
    padding: 0
    position: absolute
    top: 3px
    right: 3px
    width: 200px
    z-index: 1
  // crea capas una encima de la otra para que unos elementos se muestren por encima

  li
    padding: 10px

  .chat
    align-items: flex-start
    display: flex
    flex-grow: 1
    flex-direction: column
    overflow-y: scroll

  .date
    align-self: center
    color: $white
    background-color: $blue
    border-radius: 5px
    margin: 7px
    padding: 9px

  .message
    background-color: $white
    border-radius: 7px
    margin: 7px 15px
    padding: 5px
    max-width: 85%
    position: relative

  .message:before
    position: absolute
    border-style: solid
    content: ''
    top: 0

  .received
    border-top-left-radius: 0

  .received:before
    border-width: 0 8px 8px 0
    border-color: transparent $white transparent transparent
    left: -8px

  .sent
    background-color: $ligth-green
    align-self: flex-end
    border-top-right-radius: 0

  .sent:before
    border-width: 8px 8px 0 0
    border-color: $ligth-green transparent transparent transparent
    right: -8px

  .footer
    display: flex
    height: 35px
    margin: 7px 5px
    flex-shrink: 0
    // flex: 0 0 auto

  .text-box
    align-items: center
    background-color: $white
    border-radius: 18px
    display: flex
    flex-grow: 1
    padding: 0 4px
    margin-right: 5px

  .icon
    margin: 0 7px


  .send-text
    flex-grow: 1
    border: 0
    outline: 0

  .microphone
    background-color: $green
    border-radius: 100%
    color: $white
    line-height: 35px
    text-align: center
    width: 35px
