body.index

  .header > *
    margin: 10px

  .titlebar
    display: flex
    align-items: flex-start

    .title
      flex-grow: 1

  .tabs
    align-items: flex-end
    display: flex

    .tab
      flex-grow: 1
      text-align: center


  .chat
    display: flex
    align-items: stretch

  .chat > div
    border-bottom-style: solid
    border-width: 1px
    border-color: silver

  .avatar
    height: 36px
    width: 36px
    border-radius: 100%
    margin: 7px

  .content
    flex-grow: 1
    padding: 7px 0

  .time
    text-align: up
    padding: 7px 0

  .contact
    background-color: $green
    border-radius: 100%
    color: $white
    line-height: 35px
    text-align: center
    position: fixed
    bottom: 10px
    right: 10px
    width: 35px

