@charset "utf-8"
@import "compass/css3"
@import "assets/**/*"
@import "variables"

@import "pages/**/*"

html
  height: 100%

body
  background-size: 50%
  color: $black
  font-family: $helvetica
  display: flex
  flex-direction: column
  height: 100%
  margin: 0

.header
  background-color: $green
  color: $white
  flex-shrink: 0
