doctype html
html(lang="en")
  head
    title Easy-Dev
    link(href='style.css', rel='stylesheet')
    script(src='main.js')
  body.chat
    .header
      .arrow &#8592;
      img.up.avatar(src='/assets/images/avatar.jpg')
      .title Sr.Patata
      .camera &#128249;
      .phone &#128222;
      .hamburguer(tabindex="0") &#8942;
        ul.menu
          li Ver contacto
          li Archivos
          li Buscar

    div.chat
      .date HOY
      .message.sent Hola
      .message.received Qué tal?
      .message.sent Bien, qué haces?
      .message.received Nada
      .message.sent Yo igual
      .message.received
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id iaculis diam, eu tempor enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus rutrum diam sit amet porta volutpat. Suspendisse potenti. Mauris ac mauris porta, fermentum mauris non, maximus erat. Nunc placerat lorem tempor sapien malesuada, vitae porttitor sapien blandit. Suspendisse venenatis orci quis quam iaculis maximus. Quisque accumsan justo in tempus hendrerit. Maecenas feugiat id ipsum in malesuada. Morbi odio mauris, sollicitudin et dolor condimentum, vehicula mattis dui. Ut gravida id metus a convallis. In hac habitasse platea dictumst. Vestibulum et pulvinar sapien. Pellentesque est urna, dapibus quis lacinia quis, fringilla eu justo.

      .date 08/08/2017
      .message.received
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id iaculis diam, eu tempor enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus rutrum diam sit amet porta volutpat. Suspendisse potenti. Mauris ac mauris porta, fermentum mauris non, maximus erat. Nunc placerat lorem tempor sapien malesuada, vitae porttitor sapien blandit. Suspendisse venenatis orci quis quam iaculis maximus. Quisque accumsan justo in tempus hendrerit. Maecenas feugiat id ipsum in malesuada. Morbi odio mauris, sollicitudin et dolor condimentum, vehicula mattis dui. Ut gravida id metus a convallis. In hac habitasse platea dictumst. Vestibulum et pulvinar sapien. Pellentesque est urna, dapibus quis lacinia quis, fringilla eu justo.
      .message.received
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id iaculis diam, eu tempor enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus rutrum diam sit amet porta volutpat. Suspendisse potenti. Mauris ac mauris porta, fermentum mauris non, maximus erat. Nunc placerat lorem tempor sapien malesuada, vitae porttitor sapien blandit. Suspendisse venenatis orci quis quam iaculis maximus. Quisque accumsan justo in tempus hendrerit. Maecenas feugiat id ipsum in malesuada. Morbi odio mauris, sollicitudin et dolor condimentum, vehicula mattis dui. Ut gravida id metus a convallis. In hac habitasse platea dictumst. Vestibulum et pulvinar sapien. Pellentesque est urna, dapibus quis lacinia quis, fringilla eu justo.

      .message.received
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id iaculis diam, eu tempor enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus rutrum diam sit amet porta volutpat. Suspendisse potenti. Mauris ac mauris porta, fermentum mauris non, maximus erat. Nunc placerat lorem tempor sapien malesuada, vitae porttitor sapien blandit. Suspendisse venenatis orci quis quam iaculis maximus. Quisque accumsan justo in tempus hendrerit. Maecenas feugiat id ipsum in malesuada. Morbi odio mauris, sollicitudin et dolor condimentum, vehicula mattis dui. Ut gravida id metus a convallis. In hac habitasse platea dictumst. Vestibulum et pulvinar sapien. Pellentesque est urna, dapibus quis lacinia quis, fringilla eu justo.

    div.footer
      .text-box
        .icon.emoji &#128515;
        input.send-text(placeholder='Escribir mensaje')
        .icon.clip &#128206;
        .icon.camera &#128247;
      .microphone &#127897;
