doctype html
html(lang="en")
  head
    title Easy-Dev
    link(href='style.css', rel='stylesheet')
    script(src='main.js')
  body.index
    .header
      .titlebar
        .title WhatsApp
        .search &#128269;
        .hamburguer &#8942;
      .tabs
        .camera &#128249;
        .tab.active Chats
        .tab Estados
        .tab Llamadas

    .chats
      .chat
        img.avatar(src='/assets/images/anxo.jpg')
        .content
          .name Anxo
          .last-message Holis
        .time 20:30

      .chat
        img.avatar(src='/assets/images/avatar.jpg')
        .content
          .name Sr.Patata
          .last-message Hi potato
        .time 21:30

    .contact &#128172;
